# Things to ignore... #
######################

# xcode stuff
build/*
*.pbxuser
*.mode1v3
dSYM_Archive/*
*.perspective 
*.perspectivev3
*.xcuserstate

# svn
.svn

# hg
.hgignore
.hg/*

# osx stuff
profile
.DS_Store